.goodsMenu {
    display: grid;
    grid-template-rows: repeat(5,80px);
    grid-gap: 10px;
    padding-top: 5px;
}

.goodsMenu .item {
    justify-self: center;
}

.goodsMenu .buttons {
    justify-self: center;
    padding-top: 10px;

}