.field{
    display: grid;
    grid-template-columns: repeat(8,101px);
    grid-template-rows: repeat(8,101px);
    background-image: url("../../../Assets/Images/Menu/Grass.jpg");
    background-size: 768px;
}

.field .item {
    border: 1px solid darkgreen;
    align-self: center;
    justify-self: center;
}

