.goodsItem {
    display:grid;
    grid-template-columns: 110px 140px ;
    height: 100px;
    width: 250px;
}

.goodsItem .goods {
    align-self: center;
    justify-self: center;
    height: 90px;
    width: 90px;
}

.goodsItem .text {
    width: 140px;
    align-self: center;
    justify-self: center;
}
