.goodsItem {
    display:grid;
    grid-template-areas: 'goods text';
    height: 100px;
    width: 250px;
}

.goodsItem .goods {
    align-self: center;
    justify-self: center;
    height: 90px;
    width: 70%;
}

.goodsItem .text {
    align-self: center;
    justify-self: center;
}
