.mainMenuUI {
    display: grid;
    grid-template-areas: 'img' 'btn';
    justify-items: center;
    grid-gap: 10px;
}
.mainMenuUI img {
    grid-area: img;
    width: 950px;
padding-top: 5px;
}
.mainMenuUI button{
    grid-area: btn;
}