.creatureItem{
    display:grid;
    height: 130px;
    width: 210px;
    grid-template-areas: 'creature text';
}

.creatureItem .creature {
    align-self: center;
    justify-self: center;
    height: 120px;
    width: 120px;
}

.creatureItem .text {
    width: 100px;
    font-weight:bolder;
    align-self: center;
    justify-self: center;
}