.newGame {
    display: grid;
    grid-template-areas: 'creaturesMenu field goodsMenu'
                            'error field goodsMenu';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    justify-items: center;
}

.newGame .field {
    grid-area: field;
}

.newGame .goodsMenu {
    grid-area: goodsMenu;
}

.newGame .creaturesMenu {
    grid-area: creaturesMenu;
    justify-self: center;
}
.newGame .error {
    grid-area: error;
    justify-self: center;
}